html, body, body * {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    overflow: hidden;

    user-select: none;
}

/* GRAPH */

#graph-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 3px;
    
    transition: height 0.5s;
    z-index: -1;
}

#graph {
    text-align: center;
}

.node {
    cursor: pointer;
}

/* GUI */

#gui {
    display: inline-block;
}

.box {
    display: inline-block;
    margin: 5px;
    padding: 7px 12px 7px 12px;

    width: auto;

    color: #0e0e0e;
    font-family: Calibri, Helvetica;

    background-color: rgba(255, 255, 255, 0.9); /* light */
    /* background-color: rgba(128, 128, 128, 0.9); dark */
    box-shadow: 0px 0px 5px gray;
    border-radius: 3px;
}

#context-menu {
    position: absolute;
}

.context-btn {
    padding: 2px;

    white-space: nowrap;
}

.context-btn:hover {
    background-color: rgba(200, 200, 200, 0.8)
}