html, body, body * {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    overflow: hidden;
}

#content {
    width: 100%;
    height: 100%;

    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 3px;
    
    -webkit-app-region: no-drag;

    transition: height 0.5s;
}

#titlebar {
    position: fixed;
    top: 0;

    padding: 2px 5px 2px 5px;

    width: 100%;
    height: 17px;

    color: white;
    font-size: 12px;
    line-height: 17px;

    background-color: rgba(0, 0, 0, 0.25);
    -webkit-app-region: drag;
}

#close-btn {
    color: white;
}