html, body, body * {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    overflow: hidden;

    user-select: none;
}

/* GRAPH */

#graph-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 3px;
    
    transition: height 0.5s;
    z-index: -1;
}

#graph {
    text-align: center;
}

.node {
    cursor: pointer;
}

/* GUI */

.box {
    display: inline-block;
    margin: 5px;
    padding: 10px;

    width: auto;

    font-family: Helvetica;

    background-color: rgba(255, 255, 255, 0.90);
    box-shadow: 0px 0px 5px gray;
}

#toolbar {
    float: bottom;
    
    padding: 2px 5px 2px 1px;

    
    height: 25px;

    color: white;
    font-size: 12px;
    line-height: 17px;

    -webkit-app-region: drag;
}