html, body, body * {
    margin: 0;
    padding: 0;
}

body {
    font-family: Calibri, Segoe UI, sans-serif;

    background-color: #eeeeee;

    user-select: none;
	overflow: hidden;
}

/* TITLEBAR */
#titlebar {
    display: grid;
    grid-template-columns: auto auto auto;

    align-items: center;
    justify-content: space-between;

    padding: 7px;

    width: 100vw;

    color: white;
    font-family: Segoe UI, Helvetica;
    font-size: 13px;

    background-color: #37474F /* #388E3C */;

    box-sizing: border-box;
    
    -webkit-app-region: drag;
    z-index: 999 !important;
}

.favicon {
    height: 15px;
    padding-right: 10px;
}

#win-controls {
    display: grid;
    grid-template-columns: auto auto auto;

    column-gap: 5px;
}

.win-icon {
    width: 16px;

    filter: invert(100%);
    transition: filter 0.2s;

    -webkit-app-region: no-drag;
}

.win-icon:hover {
    filter: invert(85%);
}

/* GRAPH */
#graph-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 3px;
    
    transition: height 0.5s;
    z-index: -1;
}

#graph {
    text-align: center;
}

.node {
    cursor: pointer;
}

/* CONTEXT MENU */
.context-btn {
    padding: 2px;

    white-space: nowrap;
}

.context-btn:hover {
    background-color: rgba(200, 200, 200, 0.8)
}

/* PANELS */
.panel {
	display: flex;
	flex-direction: column;
	
	position: absolute;
	float: left;
	
	margin: 5px;

    border-radius: 5px;
	
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
	
	user-select: none;
	backdrop-filter: blur(3px) brightness(80%);
}

.panel-row {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-between;
	align-items: center;
	grid-gap: 10px;
	
	padding: 4px 15px 4px 15px;
	
	background-color: rgba(255, 255, 255, 0.75);
}

.panel-row:first-child {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.panel-row:last-child {
	padding-bottom: 10px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.panel-row:nth-child(2) {
	padding-top: 10px;
}

.panel-title {
	padding-top: 6px;
	padding-bottom: 6px;
	
	background-color: rgba(255, 255, 255, 0.85);
	border-radius: 5px 5px 0px 0px;
}

.collapsed > .panel-row:first-child {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.panel-title p {
	font-weight: bold;
}

input[type="text"] {
width: 120px;
}

.showhide-btn, .close-btn {
	cursor: pointer;
}

.drag-handle {
	/*cursor: move;*/
}

#preferences {
    top: 35px;
}